@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
  font-family: 'Playfair Display', serif;
  text-align:center;
}

a { text-decoration:none; }

/* body { */
/*   background-color:blue; */
/* } */

.top-header {
  background-image:url(./infinity.jpg);
  background-size:cover;
}

/* .top-about-us { */
/*   background-color:red; */
/* } */

.top-header > div {
  border-radius:5px;
  padding:1.5em;
  margin:1em;
  opacity:0.85;
  background-color:#eadfdf;
  color:#080807;
}

.top-header > div > a {
  cursor:pointer;
  color:black;
  font-size:x-large;
}

.about-us-desc {
  font-size:x-large;
}

footer > p {
  font-size:x-large;
}

@media (max-height:500px) {

  .top-header {
    min-height:300px;
  }
}

@media (min-width:400px) {
  .top-header {
    min-height:600px;
  }
}
