@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
  font-family: 'Playfair Display', serif;
}

.top-header {
  min-height:600px;
  background-image:url(./pool.jpg);
  background-size:cover;
}

.top-header > div {
  padding:1.5em;
  opacity:0.85;
  text-align:center;
  background-color:#407775;
  color:white;
}

.top-header > div > a {
  cursor:pointer;
  color:black;
}
